In [5]:
import pandas as pd

In [6]:
data = pd.read_csv(r"data\cwurData.csv")
# data = pd.read_csv("cwurData.csv")
data = data[data["country"] == "Germany"]

In [4]:
regex = "(University of [a-zA-ZüäöÖÄÜ]+)"
data["city"] = data["institution"].str.extract(regex)
data["city"] = data["city"].str.replace("University of ", "")
data.loc[data["city"].str.contains("technology", case = False, na = False), "city"] = pd.NA

In [5]:
data["city"].value_counts(dropna = False)

NaN           30
Munich         7
Berlin         6
Heidelberg     4
Mannheim       2
Siegen         2
Osnabrück      2
Greifswald     2
Hohenheim      2
Lübeck         2
Jena           2
Bremen         2
Bayreuth       2
Potsdam        2
Halle          2
Hanover        2
Rostock        2
Konstanz       2
Dortmund       2
Augsburg       2
Regensburg     2
Marburg        2
Münster        2
Bonn           2
Freiburg       2
Tübingen       2
Göttingen      2
Hamburg        2
Cologne        2
Erlangen       2
Duisburg       2
Würzburg       2
Kiel           2
Mainz          2
Düsseldorf     2
Ulm            2
Stuttgart      2
Oldenburg      2
Name: city, dtype: int64

In [6]:
data[data["institution"].str.contains("Osnabr")]

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year,city
1108,909,University of Osnabrück,Germany,53,355,478,210,841,628,800,849.0,737,44.38,2014,Osnabrück
2075,876,University of Osnabrück,Germany,54,367,567,218,844,654,511,826.0,871,44.15,2015,Osnabrück

In [9]:

filt.describe()

,world_rank,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,55.000000,60.000000,60.000000,60.000000
mean,373.850000,25.816667,250.433333,371.050000,173.616667,358.466667,319.266667,368.883333,354.200000,400.333333,46.572833,2013.866667
std,255.758084,16.979042,129.479972,143.110651,52.045968,251.725736,223.178569,236.216942,242.586174,230.189949,2.061594,0.468198
min,67.000000,1.000000,23.000000,101.000000,52.000000,60.000000,45.000000,61.000000,48.000000,64.000000,44.310000,2012.000000
25%,176.500000,10.750000,98.500000,275.750000,125.000000,171.500000,150.750000,171.750000,166.500000,221.250000,45.077500,2014.000000
50%,299.500000,25.500000,349.000000,478.000000,210.000000,292.500000,261.500000,336.500000,293.000000,355.500000,46.175000,2014.000000
75%,502.000000,40.250000,355.000000,478.000000,210.000000,459.250000,420.750000,493.000000,441.000000,637.000000,47.542500,2014.000000
max,966.000000,55.000000,355.000000,478.000000,210.000000,988.000000,952.000000,800.000000,985.000000,737.000000,52.750000,2014.000000

In [8]:
filt = data[(data["country"] == "Germany") & (data["year"] <= 2014)]
filt

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year,city
81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,101,52,86,58,100,NaN,101,45.33,2012,Heidelberg
82,83,Ludwig Maximilian University of Munich,Germany,2,90,101,90,60,45,62,NaN,101,45.21,2012,Munich
89,90,Technical University of Munich,Germany,3,52,101,101,91,76,94,NaN,101,44.32,2012,Munich
166,67,Ludwig Maximilian University of Munich,Germany,1,62,101,92,67,49,67,NaN,101,47.25,2013,Munich
178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,101,55,82,59,100,NaN,101,46.24,2013,Heidelberg
281,82,Ludwig Maximilian University of Munich,Germany,1,43,156,91,64,56,69,48.0,181,52.75,2014,Munich
288,89,Ruprecht Karl University of Heidelberg,Germany,2,57,426,58,68,67,61,54.0,159,52.40,2014,Heidelberg
297,98,University of Bonn,Germany,3,23,275,70,156,125,187,145.0,227,51.37,2014,Bonn
298,99,Technical University of Munich,Germany,4,38,138,173,106,92,187,97.0,100,51.34,2014,Munich
334,135,Albert Ludwig University of Freiburg,Germany,5,137,113,187,155,106,159,137.0,64,49.78,2014,Freiburg
356,157,Humboldt University of Berlin,Germany,6,275,478,110,117,84,159,81.0,373,49.03,2014,Berlin
357,158,Free University of Berlin,Germany,7,94,478,119,122,82,250,90.0,481,49.02,2014,Berlin
358,159,University of Tübingen,Germany,8,64,478,102,158,143,159,117.0,227,48.99,2014,Tübingen
360,161,Goethe University Frankfurt,Germany,9,105,291,62,175,151,200,124.0,280,48.93,2014,NaN
368,169,University of Göttingen,Germany,10,39,174,172,172,152,310,196.0,373,48.77,2014,Göttingen
378,179,University of Hamburg,Germany,11,304,146,126,152,138,134,132.0,637,48.54,2014,Hamburg
398,199,University of Cologne,Germany,12,355,109,194,215,150,187,161.0,426,47.97,2014,Cologne
409,210,University of Münster,Germany,13,114,456,171,173,197,114,180.0,338,47.73,2014,Münster
412,213,University of Erlangen-Nuremberg,Germany,14,222,478,210,170,208,134,145.0,307,47.69,2014,Erlangen
414,215,Karlsruhe Institute of Technology,Germany,15,343,170,122,193,271,150,249.0,109,47.67,2014,NaN
422,223,Julius-Maximilian's University of Würzburg,Germany,16,100,407,164,216,178,200,173.0,481,47.50,2014,Würzburg
431,232,University of Kiel,Germany,17,180,396,192,236,185,220,158.0,280,47.39,2014,Kiel
436,237,Dresden University of Technology,Germany,18,355,478,210,218,227,176,211.0,109,47.26,2014,<NA>
437,238,RWTH Aachen University,Germany,19,346,286,122,197,364,187,230.0,138,47.26,2014,NaN
448,249,Johannes Gutenberg University of Mainz,Germany,20,355,478,188,204,167,250,164.0,637,47.14,2014,Mainz
450,251,University of Düsseldorf,Germany,21,168,478,210,298,207,159,169.0,637,47.05,2014,Düsseldorf
481,282,University of Ulm,Germany,22,355,478,122,285,232,310,207.0,737,46.57,2014,Ulm
494,295,Hannover Medical School,Germany,23,355,478,210,324,252,363,211.0,280,46.41,2014,NaN
496,297,Technical University of Berlin,Germany,24,80,276,210,353,432,406,372.0,115,46.39,2014,Berlin
498,299,Leipzig University,Germany,25,308,478,201,287,268,800,224.0,307,46.36,2014,NaN
499,300,University of Stuttgart,Germany,26,78,175,210,379,367,363,346.0,280,46.34,2014,Stuttgart
502,303,University of Duisburg-Essen,Germany,27,355,453,210,284,288,406,234.0,426,46.31,2014,Duisburg
503,304,Ruhr University Bochum,Germany,28,355,283,210,235,222,406,265.0,637,46.31,2014,NaN
526,327,Darmstadt University of Technology,Germany,29,55,258,210,374,417,493,420.0,227,46.11,2014,<NA>
537,338,University of Regensburg,Germany,30,355,382,210,303,248,310,277.0,737,45.98,2014,Regensburg
542,343,University of Marburg,Germany,31,290,478,209,328,237,283,293.0,259,45.92,2014,Marburg
557,358,University of Jena,Germany,32,355,478,210,278,255,363,311.0,426,45.79,2014,Jena
559,360,Justus Liebig University Giessen,Germany,33,355,478,210,336,349,363,318.0,204,45.78,2014,NaN
581,382,Saarland University,Germany,34,355,370,210,390,402,493,326.0,307,45.65,2014,NaN
657,458,Technical University of Dortmund,Germany,35,355,478,210,454,539,406,430.0,170,45.26,2014,Dortmund
667,468,University of Konstanz,Germany,36,355,478,157,475,347,493,395.0,481,45.22,2014,Konstanz
680,481,University of Rostock,Germany,37,352,478,210,433,615,800,380.0,338,45.19,2014,Rostock
690,491,Bielefeld University,Germany,38,355,478,210,487,370,493,375.0,737,45.15,2014,NaN
696,497,University of Hanover,Germany,39,355,392,210,431,527,406,452.0,259,45.14,2014,Hanover
699,500,Otto-von-Guericke University Magdeburg,Germany,40,355,478,210,483,619,493,420.0,259,45.11,2014,NaN
707,508,Martin Luther University of Halle-Wittenberg,Germany,41,345,478,202,385,340,800,409.0,737,45.10,2014,Halle
729,530,University of Potsdam,Germany,42,355,478,210,491,329,609,420.0,637,45.01,2014,Potsdam
735,536,University of Bayreuth,Germany,43,355,478,210,442,293,310,452.0,552,44.99,2014,Bayreuth
748,549,University of Bremen,Germany,44,355,478,210,439,296,363,460.0,552,44.96,2014,Bremen
833,634,Braunschweig University of Technology,Germany,45,207,478,210,541,369,609,605.0,481,44.74,2014,<NA>
905,706,Kaiserslautern University of Technology,Germany,46,355,478,210,652,483,800,605.0,737,44.63,2014,<NA>
918,719,University of Augsburg,Germany,47,355,478,210,780,668,609,605.0,737,44.62,2014,Augsburg
958,759,University of Lübeck,Germany,48,355,478,210,910,587,800,642.0,737,44.57,2014,Lübeck
998,799,University of Hohenheim,Germany,49,355,478,210,753,665,609,703.0,637,44.53,2014,Hohenheim
1060,861,University of Greifswald,Germany,50,355,478,203,741,493,800,800.0,637,44.44,2014,Greifswald
1089,890,University of Siegen,Germany,51,355,478,210,877,714,406,843.0,737,44.41,2014,Siegen
1107,908,University of Mannheim,Germany,52,355,478,210,949,885,493,849.0,737,44.39,2014,Mannheim
1108,909,University of Osnabrück,Germany,53,355,478,210,841,628,800,849.0,737,44.38,2014,Osnabrück
1119,920,Chemnitz University of Technology,Germany,54,355,330,210,988,952,800,985.0,373,44.37,2014,<NA>
1165,966,University of Oldenburg,Germany,55,355,478,210,849,831,800,937.0,737,44.31,2014,Oldenburg

In [10]:
filt.describe()

,world_rank,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,55.000000,60.000000,60.000000,60.000000
mean,373.850000,25.816667,250.433333,371.050000,173.616667,358.466667,319.266667,368.883333,354.200000,400.333333,46.572833,2013.866667
std,255.758084,16.979042,129.479972,143.110651,52.045968,251.725736,223.178569,236.216942,242.586174,230.189949,2.061594,0.468198
min,67.000000,1.000000,23.000000,101.000000,52.000000,60.000000,45.000000,61.000000,48.000000,64.000000,44.310000,2012.000000
25%,176.500000,10.750000,98.500000,275.750000,125.000000,171.500000,150.750000,171.750000,166.500000,221.250000,45.077500,2014.000000
50%,299.500000,25.500000,349.000000,478.000000,210.000000,292.500000,261.500000,336.500000,293.000000,355.500000,46.175000,2014.000000
75%,502.000000,40.250000,355.000000,478.000000,210.000000,459.250000,420.750000,493.000000,441.000000,637.000000,47.542500,2014.000000
max,966.000000,55.000000,355.000000,478.000000,210.000000,988.000000,952.000000,800.000000,985.000000,737.000000,52.750000,2014.000000

In [14]:
data.drop(columns=["publications", "influence","citations","broad_impact","patents", "score","alumni_employment"], inplace=True)

In [15]:
data

,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city
81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg
82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,Munich
89,90,Technical University of Munich,Germany,3,52,101,2012,Munich
166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,Munich
178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg
...,...,...,...,...,...,...,...,...
1992,793,University of Hohenheim,Germany,51,367,218,2015,Hohenheim
2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg
2056,857,University of Siegen,Germany,53,367,218,2015,Siegen
2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück
2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim

In [16]:
data["city"]

81      Heidelberg
82          Munich
89          Munich
166         Munich
178     Heidelberg
           ...
1992     Hohenheim
2000     Oldenburg
2056        Siegen
2075     Osnabrück
2101      Mannheim
Name: city, Length: 115, dtype: object

In [17]:
data.to_excel("data/city.xlsx")

In [7]:
cities=pd.read_excel("data/city.xlsx")

In [8]:
cities.rename(columns={"Unnamed: 0":"old_index"}, inplace=True)

In [9]:
cities

,old_index,world_rank,institution,country,national_rank,quality_of_education,quality_of_faculty,year,city
0,81,82,Ruprecht Karl University of Heidelberg,Germany,1,87,52,2012,Heidelberg
1,82,83,Ludwig Maximilian University of Munich,Germany,2,90,90,2012,Munich
2,89,90,Technical University of Munich,Germany,3,52,101,2012,Munich
3,166,67,Ludwig Maximilian University of Munich,Germany,1,62,92,2013,Munich
4,178,79,Ruprecht Karl University of Heidelberg,Germany,2,73,55,2013,Heidelberg
...,...,...,...,...,...,...,...,...,...
110,1992,793,University of Hohenheim,Germany,51,367,218,2015,Hohenheim
111,2000,801,University of Oldenburg,Germany,52,367,218,2015,Oldenburg
112,2056,857,University of Siegen,Germany,53,367,218,2015,Siegen
113,2075,876,University of Osnabrück,Germany,54,367,218,2015,Osnabrück
114,2101,902,University of Mannheim,Germany,55,367,218,2015,Mannheim

In [10]:
cities["city"].value_counts(dropna = False)

Munich            7
Berlin            6
Heidelberg        4
Bremen            3
Kiel              3
Mannheim          2
Halle             2
Jena              2
Giessen           2
Saarbrücken       2
Dortmund          2
Konstanz          2
Rostock           2
Bielefeld         2
Hanover           2
Magdeburg         2
Potsdam           2
Osnabrück         2
Marburg           2
Braunschweig      2
Kaiserslautern    2
Augsburg          2
Lübeck            2
Hohenheim         2
Greifswald        2
Siegen            2
Bayreuth          2
Regensburg        2
Darmstadt         2
Bochum            2
Bonn              2
Freiburg          2
Tübingen          2
Frankfurt         2
Göttingen         2
Hamburg           2
Cologne           2
Münster           2
Erlangen          2
Karlsruhe         2
Würzburg          2
Dresden           2
Mainz             2
Düsseldorf        2
Ulm               2
Hannover          2
Leipzig           2
Stuttgart         2
Duisburg          2
Oldenburg         2
Aachen            1
Chemnitz          1
Name: city, dtype: int64

Appartment Data Set Combination

regio1
serviceCharge
balcony
telekomUploadSpeed
totalRent
yearConstructed
hasKitchen
cellar
baseRent
livingSpace
petsAllowed
lift
noRooms
garden
regio2
regio3

In [13]:
appartments = pd.read_csv("data/immo_data.csv", usecols = ['regio1','serviceCharge','balcony','telekomUploadSpeed','totalRent', "yearConstructed", "hasKitchen","cellar", "baseRent","livingSpace","petsAllowed", "lift","noRooms", "garden", "regio2", "regio3" ])

In [14]:
appartments

,regio1,serviceCharge,balcony,telekomUploadSpeed,totalRent,yearConstructed,hasKitchen,cellar,baseRent,livingSpace,petsAllowed,lift,noRooms,garden,regio2,regio3
0,Nordrhein_Westfalen,245.00,False,10.0,840.0,1965.0,False,True,595.0,86.00,NaN,False,4.0,True,Dortmund,Schüren
1,Rheinland_Pfalz,134.00,True,10.0,NaN,1871.0,False,False,800.0,89.00,no,False,3.0,False,Rhein_Pfalz_Kreis,Böhl_Iggelheim
2,Sachsen,255.00,True,2.4,1300.0,2019.0,False,True,965.0,83.80,NaN,True,3.0,False,Dresden,Äußere_Neustadt_Antonstadt
3,Sachsen,58.15,True,40.0,NaN,1964.0,False,False,343.0,58.15,NaN,False,3.0,False,Mittelsachsen_Kreis,Freiberg
4,Bremen,138.00,True,NaN,903.0,1950.0,False,False,765.0,84.97,NaN,False,3.0,False,Bremen,Neu_Schwachhausen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,True,10.0,910.0,2016.0,False,True,820.0,90.00,no,False,3.0,False,Weilheim_Schongau_Kreis,Eberfing
268846,Hessen,220.00,True,NaN,1150.0,1983.0,True,False,930.0,115.00,negotiable,False,3.5,False,Bergstraße_Kreis,Viernheim
268847,Hessen,220.00,True,40.0,930.0,1965.0,False,True,650.0,95.00,negotiable,False,4.0,True,Limburg_Weilburg_Kreis,Limburg_an_der_Lahn
268848,Nordrhein_Westfalen,175.00,True,NaN,1015.0,2019.0,False,True,840.0,70.00,no,True,2.0,False,Köln,Dellbrück
268849,Hessen,315.00,True,NaN,NaN,1972.0,True,True,935.0,77.00,NaN,True,3.0,False,Frankfurt_am_Main,Sossenheim

In [15]:
appartments.set_index("regio2", inplace=True)

In [16]:
appartments.sort_index(inplace=True)

In [17]:
appartments["petsAllowed"].unique()

array([nan, 'no', 'negotiable', 'yes'], dtype=object)

In [18]:
appartments.dtypes

regio1                 object
serviceCharge         float64
balcony                  bool
telekomUploadSpeed    float64
totalRent             float64
yearConstructed       float64
hasKitchen               bool
cellar                   bool
baseRent              float64
livingSpace           float64
petsAllowed            object
lift                     bool
noRooms               float64
garden                   bool
regio3                 object
dtype: object

In [ ]:
#Only for logic. No actual Code.

appcount=0
regio2=


if regio2==regio2
    sumOfTotal=totalRent+sumOfTotal
    appcount=citycount+1
else
    sumOfTotal:appcount ="regio2"av
    regio2=nextregio2
    "start again"

In [19]:
appartments.head(50)

,regio1,serviceCharge,balcony,telekomUploadSpeed,totalRent,yearConstructed,hasKitchen,cellar,baseRent,livingSpace,petsAllowed,lift,noRooms,garden,regio3
regio2,,,,,,,,,,,,,,,
Aachen,Nordrhein_Westfalen,115.00,False,10.0,475.50,1983.0,False,True,360.50,40.05,NaN,False,1.0,False,Burtscheider_Kurgarten
Aachen,Nordrhein_Westfalen,175.00,True,40.0,755.00,NaN,True,True,580.00,48.00,no,False,2.0,False,Innenstadt
Aachen,Nordrhein_Westfalen,130.00,False,2.4,500.00,1966.0,False,False,370.00,52.00,negotiable,False,2.0,False,Panneschopp
Aachen,Nordrhein_Westfalen,100.00,False,2.4,275.00,1992.0,True,False,175.00,19.00,NaN,True,1.0,False,Frankenberg
Aachen,Nordrhein_Westfalen,146.00,True,40.0,891.20,1969.0,False,True,651.20,80.00,NaN,False,3.0,False,Hangeweiher
Aachen,Nordrhein_Westfalen,175.00,True,40.0,570.00,1900.0,True,False,395.00,40.00,no,True,1.0,False,Hansemannplatz_Jülicher_Str.
Aachen,Nordrhein_Westfalen,120.00,False,NaN,650.00,2009.0,True,False,530.00,50.00,NaN,False,1.0,False,Innenstadt
Aachen,Nordrhein_Westfalen,160.00,True,10.0,655.00,1984.0,True,False,495.00,52.00,NaN,True,2.0,False,Innenstadt
Aachen,Nordrhein_Westfalen,100.00,True,2.4,NaN,1969.0,False,True,450.00,50.00,no,False,2.5,False,Adalbertsteinweg
Aachen,Nordrhein_Westfalen,NaN,True,NaN,NaN,NaN,True,False,370.00,30.00,NaN,False,2.0,False,Hangeweiher
Aachen,Nordrhein_Westfalen,100.00,True,40.0,599.00,1962.0,False,True,499.00,55.00,no,False,2.0,True,Haaren
Aachen,Nordrhein_Westfalen,95.00,False,2.4,380.00,NaN,True,False,285.00,20.00,no,False,1.0,False,Frankenberg
Aachen,Nordrhein_Westfalen,250.00,True,40.0,1300.00,1905.0,False,True,1050.00,90.00,negotiable,False,3.0,True,Burtscheider_Abtei
Aachen,Nordrhein_Westfalen,125.00,True,40.0,701.40,1955.0,False,True,576.40,57.64,NaN,False,2.0,False,Hörn
Aachen,Nordrhein_Westfalen,250.00,True,10.0,943.00,1991.0,True,True,693.00,77.00,negotiable,True,2.0,False,Innenstadt
Aachen,Nordrhein_Westfalen,250.00,True,2.4,1375.00,1974.0,False,False,1125.00,136.00,no,False,3.0,True,Laurensberg
Aachen,Nordrhein_Westfalen,50.00,True,2.4,490.00,NaN,True,False,420.00,32.00,no,True,1.0,False,Adalbertsteinweg
Aachen,Nordrhein_Westfalen,170.00,False,40.0,834.00,NaN,False,False,664.00,83.00,no,False,3.0,False,Trierer_Straße
Aachen,Nordrhein_Westfalen,183.00,False,2.4,933.00,1960.0,False,True,750.00,80.00,negotiable,False,3.0,False,Innenstadt
Aachen,Nordrhein_Westfalen,85.00,False,2.4,365.00,1988.0,True,False,280.00,23.00,no,True,1.0,False,Hansemannplatz_Jülicher_Str.
Aachen,Nordrhein_Westfalen,130.00,True,NaN,910.00,2017.0,True,True,780.00,52.00,NaN,False,2.0,False,Innenstadt
Aachen,Nordrhein_Westfalen,243.99,True,40.0,NaN,2017.0,False,True,544.79,81.33,no,True,3.0,False,Trierer_Straße
Aachen,Nordrhein_Westfalen,170.00,True,40.0,1235.00,2017.0,False,True,995.00,100.18,negotiable,True,3.0,True,Frankenberg
Aachen,Nordrhein_Westfalen,190.00,True,2.4,837.00,1972.0,False,True,647.00,83.00,no,False,3.0,True,Haaren
Aachen,Nordrhein_Westfalen,120.00,False,40.0,570.00,NaN,False,True,420.00,45.00,no,False,2.0,False,Steinebrück
Aachen,Nordrhein_Westfalen,200.00,False,2.4,1000.00,NaN,True,False,800.00,65.10,negotiable,False,3.0,False,Innenstadt
Aachen,Nordrhein_Westfalen,115.29,False,40.0,743.88,1966.0,False,False,576.45,54.90,NaN,False,2.0,False,Kalkofen
Aachen,Nordrhein_Westfalen,141.00,True,40.0,960.50,1980.0,False,True,725.50,81.70,NaN,False,3.0,False,Hangeweiher
Aachen,Nordrhein_Westfalen,130.00,True,10.0,550.00,1970.0,True,True,420.00,45.00,NaN,True,1.5,False,Burtscheider_Abtei
Aachen,Nordrhein_Westfalen,95.00,True,2.4,1260.00,NaN,True,False,1070.00,105.00,negotiable,False,4.0,False,Laurensberg
Aachen,Nordrhein_Westfalen,120.00,False,2.4,570.00,1958.0,False,False,450.00,55.00,negotiable,False,2.0,True,Laurensberg
Aachen,Nordrhein_Westfalen,265.00,False,2.4,1300.00,1998.0,False,False,975.00,122.00,NaN,False,5.0,False,Kornelimünster
Aachen,Nordrhein_Westfalen,135.00,False,40.0,585.00,1964.0,False,True,450.00,68.00,negotiable,False,3.0,False,Hansemannplatz/Jülicher_Str.
Aachen,Nordrhein_Westfalen,116.00,True,40.0,1200.00,2016.0,False,True,996.00,83.00,no,False,3.0,False,Soers
Aachen,Nordrhein_Westfalen,161.00,True,2.4,NaN,1960.0,False,True,670.32,71.00,negotiable,False,3.0,False,Adalbertsteinweg
Aachen,Nordrhein_Westfalen,80.00,False,40.0,NaN,1954.0,False,True,460.00,54.20,NaN,False,2.0,False,Hansemannplatz/Jülicher_Str.
Aachen,Nordrhein_Westfalen,290.00,True,2.4,1440.00,1987.0,False,True,1100.00,116.00,negotiable,False,3.0,False,Laurensberg
Aachen,Nordrhein_Westfalen,246.00,True,40.0,791.64,2016.0,False,True,485.64,82.00,no,True,3.0,False,Hansemannplatz/Jülicher_Str.
Aachen,Nordrhein_Westfalen,215.00,True,NaN,1105.00,2018.0,False,True,890.00,70.00,NaN,True,2.0,True,Ponttor
Aachen,Nordrhein_Westfalen,80.00,False,2.4,350.00,1978.0,True,False,270.00,20.00,no,True,1.0,False,Ponttor
Aachen,Nordrhein_Westfalen,112.00,True,40.0,705.08,1976.0,False,True,531.08,68.00,NaN,False,2.0,False,Hangeweiher
Aachen,Nordrhein_Westfalen,68.00,False,NaN,487.00,NaN,False,True,380.00,34.00,NaN,False,1.0,False,Hansemannplatz/Jülicher_Str.
Aachen,Nordrhein_Westfalen,122.00,True,40.0,828.00,1964.0,False,True,630.00,82.00,NaN,False,4.0,False,Hansemannplatz/Jülicher_Str.
Aachen,Nordrhein_Westfalen,172.00,True,2.4,882.00,1975.0,True,True,710.00,85.00,NaN,False,3.0,False,Laurensberg
Aachen,Nordrhein_Westfalen,120.00,True,2.4,870.00,1985.0,False,True,750.00,84.00,no,False,3.0,False,Brand
Aachen,Nordrhein_Westfalen,200.00,True,2.4,1090.00,1995.0,True,True,890.00,110.00,no,False,4.0,False,Laurensberg
Aachen,Nordrhein_Westfalen,125.00,True,2.4,NaN,1969.0,True,True,620.00,68.00,no,False,3.0,False,Adalbertsteinweg
Aachen,Nordrhein_Westfalen,150.00,True,NaN,880.00,2016.0,False,False,670.00,64.00,no,True,2.0,False,Brand
Aachen,Nordrhein_Westfalen,50.00,False,10.0,550.00,NaN,True,True,550.00,65.00,no,False,3.0,False,Hangeweiher
Aachen,Nordrhein_Westfalen,225.00,True,NaN,1480.00,2019.0,False,True,1195.00,97.00,NaN,True,3.0,True,Ponttor

Cultural Data

In [41]:
cultural= pd.read_excel("data/cultural_data.xlsx")

C:\Users\Marek\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [46]:
population_data=pd.read_csv("data/Deutschland_Cities.csv")

In [47]:
population_data

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Berlin,52.5167,13.3833,Germany,DE,Berlin,primary,3644826.0,3644826.0
1,Hamburg,53.5500,10.0000,Germany,DE,Hamburg,admin,1841179.0,1841179.0
2,Munich,48.1372,11.5755,Germany,DE,Bavaria,admin,1471508.0,1471508.0
3,Cologne,50.9422,6.9578,Germany,DE,North Rhine-Westphalia,NaN,1085664.0,1085664.0
4,Frankfurt,50.1136,8.6797,Germany,DE,Hesse,minor,753056.0,753056.0
...,...,...,...,...,...,...,...,...,...
607,Rotenburg,53.0851,9.3879,Germany,DE,Lower Saxony,minor,NaN,NaN
608,Karlstadt,49.9603,9.7724,Germany,DE,Bavaria,minor,NaN,NaN
609,Neustadt,49.5656,8.8437,Germany,DE,Hesse,minor,NaN,NaN
610,Homberg,51.0299,9.4026,Germany,DE,Hesse,minor,NaN,NaN
611,Garmisch-Partenkirchen,47.4985,11.1044,Germany,DE,Bavaria,minor,NaN,NaN


Little Test

In [2]:
rent=0
for appartments["regio2"] == cities["city"]:
    rent= rent+appartments["baseRent"]

SyntaxError: invalid syntax (Temp/ipykernel_3400/2655395170.py, line 2)

In [ ]:
sum(baseRent per City)/len(baseRent per City) # For Mean

In [ ]:
sum(baseRent per City)

In [ ]:
cfilt= appartments["regio2"]=cities["city"]
appartments[cfilt].mean()
appartments[cfilt].sum()

In [ ]:
appartments.groupby(["index"])